@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'base/grid-settings';
@import 'base/variables';
@import 'base/base';
@import 'griditems';
@import 'comment';

.header {
    @include outer-container;
}

.comment {
    @include outer-container;
    margin-top: 50px;
}

.pwndoralogo {
    max-width: 400px;
    height: 10em;
}
