@import 'compass/css3';
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'base/grid-settings';
@import 'base/variables';
@import 'base/base';
@import 'griditems';
@import 'comment';

.header {
    @include outer-container;
    @include display-box;
    @include box-orient(horizontal);
    @include box-align(stretch);
}

.comment {
    @include outer-container;
    margin-top: 50px;
}

.pwndoralogo {
    max-width: 400px;
    height: 10em;
}

#logo {
}

h1 {
    font-family: 'PT Serif', serif;
}

p {
    font-family: 'Droid Serif', serif;
}

#sologan > h1 {
    padding-left: 40px;
    padding-top: 45px;
    font-family: 'Playfair Display SC', serif;
}
