/* line 2, ../sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../sass/base/extends/_button.scss */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;
}
/* line 13, ../sass/base/extends/_button.scss */
button:hover,
input[type="submit"]:hover {
  background-color: #2c5999;
  color: white;
}

/* line 1, ../sass/base/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

/* line 10, ../sass/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility;
}

/* line 17, ../sass/base/_typography.scss */
h1 {
  font-size: 2.25em;
}

/* line 21, ../sass/base/_typography.scss */
h2 {
  font-size: 2em;
}

/* line 25, ../sass/base/_typography.scss */
h3 {
  font-size: 1.75em;
}

/* line 29, ../sass/base/_typography.scss */
h4 {
  font-size: 1.5em;
}

/* line 33, ../sass/base/_typography.scss */
h5 {
  font-size: 1.25em;
}

/* line 37, ../sass/base/_typography.scss */
h6 {
  font-size: 1em;
}

/* line 41, ../sass/base/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 45, ../sass/base/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477dca;
  text-decoration: none;
}
/* line 50, ../sass/base/_typography.scss */
a:hover {
  color: #2c5999;
}
/* line 54, ../sass/base/_typography.scss */
a:active, a:focus {
  color: #2c5999;
  outline: none;
}

/* line 60, ../sass/base/_typography.scss */
hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}

/* line 68, ../sass/base/_typography.scss */
img {
  margin: 0;
  max-width: 100%;
}

/* line 73, ../sass/base/_typography.scss */
blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em;
}

/* line 80, ../sass/base/_typography.scss */
cite {
  color: #737373;
  font-style: italic;
}
/* line 84, ../sass/base/_typography.scss */
cite:before {
  content: '\2014 \00A0';
}

/* line 1, ../sass/base/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em;
}

/* line 8, ../sass/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
}

/* line 16, ../sass/base/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em;
}
/* line 20, ../sass/base/_forms.scss */
label.required:after {
  content: "*";
}
/* line 24, ../sass/base/_forms.scss */
label abbr {
  display: none;
}

/* line 29, ../sass/base/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%;
}
/* line 44, ../sass/base/_forms.scss */
textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
select[multiple=multiple]:hover {
  border-color: #c4c4c4;
}
/* line 48, ../sass/base/_forms.scss */
textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus {
  border-color: #477dca;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none;
}

/* line 55, ../sass/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 59, ../sass/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 63, ../sass/base/_forms.scss */
input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 68, ../sass/base/_forms.scss */
input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%;
}

/* line 74, ../sass/base/_forms.scss */
select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em;
}

/* line 1, ../sass/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 8, ../sass/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left;
}

/* line 15, ../sass/base/_tables.scss */
td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0;
}

/* line 20, ../sass/base/_tables.scss */
tr, td, th {
  vertical-align: middle;
}

/* line 1, ../sass/base/_lists.scss */
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 19, ../sass/base/_lists.scss */
dl {
  margin-bottom: 0.75em;
}
/* line 22, ../sass/base/_lists.scss */
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
/* line 27, ../sass/base/_lists.scss */
dl dd {
  margin: 0;
}

/* line 1, ../sass/base/_buttons.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 2, ../sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../sass/base/extends/_button.scss */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;
}
/* line 13, ../sass/base/extends/_button.scss */
button:hover,
input[type="submit"]:hover {
  background-color: #2c5999;
  color: white;
}

/* line 1, ../sass/base/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

/* line 10, ../sass/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility;
}

/* line 17, ../sass/base/_typography.scss */
h1 {
  font-size: 2.25em;
}

/* line 21, ../sass/base/_typography.scss */
h2 {
  font-size: 2em;
}

/* line 25, ../sass/base/_typography.scss */
h3 {
  font-size: 1.75em;
}

/* line 29, ../sass/base/_typography.scss */
h4 {
  font-size: 1.5em;
}

/* line 33, ../sass/base/_typography.scss */
h5 {
  font-size: 1.25em;
}

/* line 37, ../sass/base/_typography.scss */
h6 {
  font-size: 1em;
}

/* line 41, ../sass/base/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 45, ../sass/base/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477dca;
  text-decoration: none;
}
/* line 50, ../sass/base/_typography.scss */
a:hover {
  color: #2c5999;
}
/* line 54, ../sass/base/_typography.scss */
a:active, a:focus {
  color: #2c5999;
  outline: none;
}

/* line 60, ../sass/base/_typography.scss */
hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}

/* line 68, ../sass/base/_typography.scss */
img {
  margin: 0;
  max-width: 100%;
}

/* line 73, ../sass/base/_typography.scss */
blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em;
}

/* line 80, ../sass/base/_typography.scss */
cite {
  color: #737373;
  font-style: italic;
}
/* line 84, ../sass/base/_typography.scss */
cite:before {
  content: '\2014 \00A0';
}

/* line 1, ../sass/base/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em;
}

/* line 8, ../sass/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
}

/* line 16, ../sass/base/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em;
}
/* line 20, ../sass/base/_forms.scss */
label.required:after {
  content: "*";
}
/* line 24, ../sass/base/_forms.scss */
label abbr {
  display: none;
}

/* line 29, ../sass/base/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%;
}
/* line 44, ../sass/base/_forms.scss */
textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
select[multiple=multiple]:hover {
  border-color: #c4c4c4;
}
/* line 48, ../sass/base/_forms.scss */
textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus {
  border-color: #477dca;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none;
}

/* line 55, ../sass/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 59, ../sass/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 63, ../sass/base/_forms.scss */
input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 68, ../sass/base/_forms.scss */
input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%;
}

/* line 74, ../sass/base/_forms.scss */
select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em;
}

/* line 1, ../sass/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 8, ../sass/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left;
}

/* line 15, ../sass/base/_tables.scss */
td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0;
}

/* line 20, ../sass/base/_tables.scss */
tr, td, th {
  vertical-align: middle;
}

/* line 1, ../sass/base/_lists.scss */
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 19, ../sass/base/_lists.scss */
dl {
  margin-bottom: 0.75em;
}
/* line 22, ../sass/base/_lists.scss */
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
/* line 27, ../sass/base/_lists.scss */
dl dd {
  margin: 0;
}

/* line 1, ../sass/base/_buttons.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 13, ../sass/griditems.scss */
.grid-items-lines {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 15, ../sass/bourbon/addons/_clearfix.scss */
.grid-items-lines:after {
  content: "";
  display: table;
  clear: both;
}
/* line 15, ../sass/bourbon/addons/_clearfix.scss */
.grid-items-lines:after {
  content: "";
  display: table;
  clear: both;
}
/* line 26, ../sass/griditems.scss */
.grid-items-lines .grid-item {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 14em;
  background: white;
  width: 100%;
  overflow: hidden;
  float: left;
  padding: 2em;
  border-right: 1px solid rgba(51, 51, 51, 0.2);
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  cursor: pointer;
}
@media screen and (min-width: 53.75em) {
  /* line 26, ../sass/griditems.scss */
  .grid-items-lines .grid-item {
    width: 33.33333%;
  }
}
/* line 42, ../sass/griditems.scss */
.grid-items-lines .grid-item:hover {
  background: rgba(51, 51, 51, 0.05);
}
/* line 47, ../sass/griditems.scss */
.grid-items-lines .grid-item img {
  display: block;
  height: 2.5em;
  margin-bottom: 1.2em;
  opacity: .2;
}
/* line 54, ../sass/griditems.scss */
.grid-items-lines .grid-item h1 {
  color: #333333;
  font-size: 1.3em;
  margin-bottom: .4em;
}
/* line 60, ../sass/griditems.scss */
.grid-items-lines .grid-item p {
  color: rgba(51, 51, 51, 0.6);
}
@media screen and (min-width: 40em) {
  /* line 60, ../sass/griditems.scss */
  .grid-items-lines .grid-item p {
    max-width: 70%;
  }
}
@media screen and (min-width: 53.75em) {
  /* line 67, ../sass/griditems.scss */
  .grid-items-lines .grid-item-big {
    width: 66.66667%;
  }
}
@media screen and (min-width: 40em) {
  /* line 71, ../sass/griditems.scss */
  .grid-items-lines .grid-item-big p {
    max-width: 60%;
  }
}
/* line 80, ../sass/griditems.scss */
.grid-items-lines .bottom-cover {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 3px;
  background: white;
}
/* line 88, ../sass/griditems.scss */
.grid-items-lines .right-cover {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 4px;
  background: white;
}

/* line 8, ../sass/main.scss */
.header {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 15, ../sass/bourbon/addons/_clearfix.scss */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* line 12, ../sass/main.scss */
.pwndoralogo {
  max-width: 400px;
  height: 10em;
}
